    .pagination {
        text-align: center;
        margin-top: 10px;
    }

    .pagination button {
        padding: 10px 15px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        background: #007BFF;
        color: #fff;
        cursor: pointer;
    }

    .pagination button:hover {
        background: #0056b3;
    }

    .pagination button:disabled {
        background: #ccc;
        cursor: not-allowed;
    }



    .main-container {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        gap: 20px;
    }

    #map-container {
        flex: 2;
        height: 500px;
        border: 2px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .results-container {
        flex: 1;
        max-width: 400px;
        height: 500px;
        overflow-y: auto;
        background: #ffffff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .results-container div {
        margin-bottom: 10px;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .results-container div:last-child {
        border-bottom: none;
    }

    .pagination {
        text-align: center;
        margin-top: 10px;
    }

    .pagination button {
        padding: 10px 15px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        background: #007BFF;
        color: #fff;
        cursor: pointer;
    }

    .pagination button:hover {
        background: #0056b3;
    }

    .pagination button:disabled {
        background: #ccc;
        cursor: not-allowed;
    }
